<h1>Figure: <%= @figure.name %></h1>

<h3>Landmarks: </h3>
<ul>
  <% @figure.landmarks.each do |landmark| %>
  <li><a href="/figures/<%= landmark.id %>"><%= landmark.name %></a></li>
  <% end %>
</ul>

<a href="/figures/<%= @figure.id %>/edit">edit</a>
